
	html {
		font-family:"Times New Romain", "Times", serif;
	}

	body {
		background-color:#eee;
		margin:0; padding:1em 0em;
	}

	.section-layout {
		position:relative;
		width:59.375em;
		margin:0 auto;
	}

	a {
		text-decoration:none;
	}

	#header .section-wrapper {
		background-color:#134F5C;
		height:4em;
		margin:1em 0em;
		min-width:59.375em;
	}

	#header .section-layout {
		position:relative;
		width:59.375em;
		margin:0 auto;
	}

	#header a {
		text-decoration:none;
	}

	#header .logo {
		background-image:url('../images/controller.png');
		height:6em;
		width:6em;
		background-size:90%;
		background-repeat:no-repeat;
		background-position:center;
		position:absolute;
		top:-1em;
		left:0em;
	}

	#header .title {
		color:white;
		position:absolute;
		left:7em;
		top:0;
		height:4em;
		font-family:"Comic Sans MS", "Comic Sans", cursive;
		display:table;
	}

	#header .title a {
		display:table-cell; 
 		vertical-align:middle;
		color:white;
  	}

	#header .title span {
		display:block;
		line-height:1.2em;
	}

	#header .title span:first-child {
		font-size:1.5em;
	}

	#header .title span:last-child {
		font-size:1em;
	}

	#header .menu {
		position:absolute;
		right:0;
		top:-1.2em;
		color:black;
		margin-bottom:0.2em;
	}

	#header .menu ul {
		list-style:none;
		margin:0;
	}

	#header .menu li {
		display:inline-block;
		margin-left:1em;
	}

	#header .menu li > a {
		color:black;
	}

	#header .menu li > a:hover {
		text-decoration:underline;
	}

	#header .search {
		position:absolute;
		right:0;
		top:2em;
	}

	#header .search input[type="text"] {
		padding:0.2em;
		width:20em;
		border:solid 1px #000;
		background-color:#eee;
	}

	#header .search input[type="text"]:focus {
		background-color:#fff;
		outline:none;
	}

	#header .search input[type="submit"] {
		border:solid 1px #000;
		padding:0.2em 0.5em;
		background-color:#ccc;
		color:#333;
	}

	#content .section-core {
		padding:1em;
	}

	#content a {
		color:#333;
	}

	#content a:hover {
		color:#000;
	}

	#content h1 {
		margin-top:0;
		border-bottom:solid 1px #000;
		font-family:sans-serif;
	}

	#content .story {
		margin:2em 0em;
	}

	#content h2 {
		margin-bottom:0em;
		font-family:sans-serif;
	}

	#content .byline {
		margin-bottom:0.4em;
	}

	#content .excerpt {
		font-size:1.3em;
	}

	#footer .section-core {
		background-color:#134f5c;
		padding:0.5em 1em;
		color:#eee;
	}


